/*
*@name: Assignement1
* @Course Code: SODV1201
* @class: Software Development Diploma program.
* @author: Paula Gomez Perez
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button { 
    background-color: initial;
    color: inherit;
    font: inherit;
    outline: none;
    border: none;
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100vw;
    min-height: 1500px;
    background-image: linear-gradient(to right, #eccfcf, #dfe6c3, #bfcbde);  
    padding-top: 60px;
    overflow-x: hidden;
}

/*Animation*/
@keyframes fade-in-from-top {
    0% {
        opacity: 0;
        transform: translateY(-50px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.header{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 55px;
    padding: 0 13px;
    background-color: rgba(109, 149, 155, 0.6);
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    font-weight: bold;
}

.links{
    list-style: none;
    display: flex; 
    align-self: center;
}

.link{
    text-decoration: none;
    color: #02594e;
    font-weight: bold;
    font-size: 20px;
    padding: 0 13px;
    cursor: pointer;
}

.link:hover {
    color: #02594e;
    color: rgb(249, 216, 216);
    border-radius: 10%;
}

.sectiontitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 13px;
}

.img{
    height: 260px;
    width: 260px;
    border-radius: 50%;
    transition: all 0.4s;
    animation: fade-in-from-top 0.5s;
    margin-top: 25px;
}

.intro{
    font-family: 'Varela Round', sans-serif;
    color: rgba(2,89,78,255);
    font-size: 6rem;
    padding: 35px;
}

.profession{
    font-family: 'Lora', serif;                             
    color: rgba(2,89,78,255);
    font-size: 3rem;
    font-weight: 500;
    padding: 10px;
}

.viewbtn, .resume {
    background-color: #fff;
    font-size: 16px;
    color: #02594e;
    text-transform: uppercase;
    padding: 15px 50px;
    margin-bottom: 30px;
    border-radius:5000px;
    background-color: rgba(109, 149, 155, 0.6);
    cursor: pointer;
    transition: all 0.4s;
    text-decoration: none;
    font-weight: bold;
}

.viewbtn, .resume:hover {
    background-color: rgba(88, 130, 135, 0.6);
}

.sectionabout{
    display:flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-family: 'Varela Round', sans-serif;                                
    color: rgba(2,89,78,255); 
    margin-bottom: 80px;
}

.about-detail{
    text-align: justify;
    text-justify: inter-word;
    margin-left: 30%;
    margin-right: 30%;
}

.about-title{
    font-size: 6rem;
    margin-top: 10%;
}

.footer{
    display: flex;
    align-items: center;
    color:#02594e;
    padding-bottom: 1px;
    column-gap: 50px;
    padding: 25px;
    height: 80px;
    background-image: linear-gradient(to right,#dfe6c3, #6d959b99);     
    font-size: 18px;
    font-weight: bold;
}

.rights{
    padding-left: 100px;
}

.fonts{
    display: flex;
    column-gap: 20px ;
    margin-left:auto;
    padding-right: 200px;
}

.fa-brands{
    color:#02594e;
    font-size: 35px;
}

